@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-bo;
    list-style-type: none;
    font-family: "roboto";
    color: black;
    text-decoration: none;
}
header{
    position: fixed;
    width: 100%;
}
nav{

    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0 40px;
    border-bottom: solid black 1px;
    background-color: rgb(255, 255, 255);
}
.About-us{
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}
select{
    border: none;
}
.logo{
    padding-right: 50px;
}
.welcome{
    width: 700px;
}
.sign-up{
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 80px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.sign-up a{
    color: aliceblue
}
section{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.log-in-now{
    font-size: 100px;
}
.log-in{
    color: rgba(0, 0, 0, 0.508);
}
.enter-ur-inf{
    color: rgba(0, 0, 0, 0.508);
    margin: 25px 0;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
input{
    width: 400px;
    margin-bottom: 20px;
    height: 40px;
}
label{
    width: 400px;
}
.submit{
    width: 200px;
    height: 42px;
    font-size: 31px;
    margin-top: 40px;
    color: aliceblue;
    background-color: black;
    transition: 0.5s;
}
.submit:hover{
    transform: scale(1.2);
}
footer{
    display: flex;
    justify-content: center;
    margin-top: 85px;
}
footer ul{
    display: flex;
    gap: 24px;
    text-decoration: underline;
}
footer .last-div{
    display: flex;
    width: 85%;
    justify-content: space-between;
    border-top: solid #00000055 1px;
    align-items: center;
    height: 80px;
}
